.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2,);
    width: 600px;
    height: 400px;
    padding-top: 15px;
}
img:hover{
    border-radius: 140px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: italic;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
#camera{
    width: 500px;
    height: 400px;
}
body{
    background-color: azure;
}